
/*this file is used to style the footer area.*/

@import url(https://fonts.googleapis.com/css?family=Comfortaa);


footer div{
    font-family: 'Comfortaa', sans-serif;
/*    background-color: #B7B777;*/
    padding: 10px;
    padding-left: 10px;
    clear: both;
    background-color: #B5B5B3;
    opacity: 0.8;
}
/* this line targets the first list*/
.footerNav li{
    list-style-type: none;
    display:inline;
    padding: .5em 1em;
    text-align: center;
    align-content: center;
}

/* this targets the sub menu of the first list*/
/*.footerNav li ul li a{
    color: red;
    z-index:99;
    float: none;
}*/


/* this targets the last paragraphs of the footer
where the copy rights statement is*/
#copyRight p{
    
    font-weight: bold;
    display: inline-block;
    padding-right: 2em;
}
#copyRight{
    margin: 0px;
    text-align: center;
}

