

@import url(https://fonts.googleapis.com/css?family=Coming+Soon:400);

header{
    
    font-family: 'Coming+Soon', sans-serif;
/*    background-color: #B7B777;*/
    padding: 10px;
}

body{
    
    background-image: url("../siteImages/gearWheels.jpg");
    /*====the first number is horizontal, and if I increase 
    the % the image goes to the center, from right to left====
    ======the second % controls teh vertical position, if I increase it
          the image goes from bottom to top====*/
    background-position: 70% 80%; 
    background-attachment: fixed;
    margin: 1em 2em 3em 2em;
    
    

}
main {
    border-width: 3px 4px 3px 4px;
    border-style: solid;
    padding: 10px;
    margin-top: 1em;
    background-color: lightgray;
}



