


/*<!--THIS FILE IS FOR THE FINAL PROJECT CIT 230-->*/


@media only screen and (min-width: 768px){


body{
    background-color: #98ED98;
}    
header img{
    width: 300px;
}
header{
    height: 260px;
}
nav{
    background-color: #B3FFEA;
    font-size: 22px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding-right: 1em;
}
nav ul li a{
    text-decoration: none;
}
nav ul li:hover{
    border-style: outset;
}
main figure{
    width: 45%;
    float: left;
    margin: 1%;
}
main figure img{
    height: 228px;
    
}
}